body {
    min-height: 100vh;
}

button:focus {
    box-shadow: none !important;
    outline: none !important;
}

@font-face {
    font-family: "comicfont";
    src: local("comicfont"), url("./fonts/ComicMarkerDeluxe-v4Z4.ttf") format("truetype");
}
